@model MVC.Models.Auth.LoginModel

<div>
    <h1>Login page</h1>
    
    @if(ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    @Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.Username)
        @Html.PasswordFor(m => m.Password)
        <input type="submit" value="Login" />
    }
</div>