@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100');

:root {
  --light: #FFFFFF;
  --secondary: #59b96f;
  --primary: #067A46;
  --dark: #40513B;
  --background: #F0F0F0;
}

html {
  font-size: 14px;
  color: #242424;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: 'Poppins', FontAwesome, sans-serif;
  font-weight: 400;
  color: #242424;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, input:focus {
  border: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background);
}

form {
  border-radius:6px;
}
label {
  font-size: 1rem;
}
input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border-width: 1px;
  color: rgb(36, 36, 36);
  border-color: rgb(103, 103, 103);
  border-style: solid;
  padding: 12px;
  font-size: 16px;
  display: block;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 24px;
}
input:focus, input:active, input:hover {
  border-width: 2px;
  border-style: solid;
}

section {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 10px;
}

.logo {
  background-image: url(../images/logo.svg); 
  background-size: 112px 37px; 
  height: 37px; 
  width: 112px;
}

@media only screen and (min-width: 800px) {
  .login-img {
    background-image: url(https://cdn.hellofresh.com/us/cms/ER/app-install-login.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 319px 366px;
    padding: 80px 175px 80px 0;
  }
}