@using BLL.Entities.Recipe
@using MVC.Models.Recipe
@model MVC.Models.Cook.CookModel

@{
    Layout = "_CookLayout";
}

@if (Model.Cook.Recipes.Length == 0)
{
    <div class="flex jcenter b-radius" style="padding: 8px;">
        <p class="text-s m-0">No recipes found.</p>
    </div>
}
<div class="flex wrap jcenter">
    @foreach (Recipe recipe in Model.Cook.Recipes)
    {
        @await Html.PartialAsync("Partial/Card/_RecipeCardPartial" , new RecipeModel { Recipe = recipe, Viewer = Model.Viewer })
    }
</div>
