@model MVC.Models.Recipe.CreateRecipeModel

@{
    Layout = "_Layout";
    ViewBag.PageType = "EditRecipe";
    Model.PreparationSteps = Model.PreparationSteps.OrderBy(step => step.Order).ToList();
}

<div class="flex column w-100">
    <h1 class="text-center mb-5">Edit Recipe</h1>
    @using (Html.BeginForm("EditRecipe", "Recipe", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("Partial/_CreateRecipePartial")
    }
</div>