@using BLL.Entities.Recipe
@using MVC.Models.Recipe
@model MVC.Models.Recipe.RecipeListModel

@{
    ViewBag.Title = "Recipes";
    Layout = "_LayoutWide";
}

<div class="flex jcenter w-100">
    <div class="w-100">
        <div class="flex center w-100" style="padding: 40px; height: 300px; background-image: url(https://cdn.hellofresh.com/nl/cms/bulk_upload/seo/Hello_Fresh_Background_LP_Vegetarian_NL_BE_Desktop.jpg);
                                           background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="flex column">
                <h1>Search for Recipes</h1>
                <div class="flex justify-content-between">
                    @Html.TextBox("search", "", new { placeholder = "Search on Recipe Finder", id = "searchBox", style = "width: 100%; flex: 0.83; margin: 0; border-width: 0", onkeydown = "OnKeyDown(event)" })
                    <button class="button" style="flex: 0.15" onclick="Search()">Search</button>
                </div>
            </div>
        </div>
        <div class="flex center wrap my-4 w-100">
            <div class="flex jcenter wrap" style="min-width: 360px">
                @if (Model.Recipes.Count == 0)
                {
                    <p>No recipes found</p>
                }
                else
                {
                    @foreach (Recipe recipe in Model.Recipes)
                    {
                        @await Html.PartialAsync("Partial/Card/_RecipeCardPartial", new RecipeModel { Recipe = recipe, Viewer = Model.Viewer })
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    const EnterKey = 13;

    function OnKeyDown(event) {
        if (event.keyCode === EnterKey) {
            Search();
        }
    }

    function Search() {
        const search = document.getElementById("searchBox").value;
        location.href = "/Recipe/?search=" + search;
    }
    
    
   function SetSearch() {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById("searchBox").value = urlParams.get('search');
    }
    
    SetSearch();
</script>

<style>
    .navbar {
        margin: 0 !important;
    }
</style>
